@import url(fontiran.css);
body {
	font-family: IRANSans !important;
	font-weight: 300;
	direction: rtl;
	background-color: #E2E2E2;
	margin: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

a {
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6,input, textarea {
	font-family: IRANSans !important;
}
h1 {
	font-weight: bold;
}
.wrapper {
	max-width: 900px;
	margin: 0 auto;
}
.ltr {
	direction: ltr;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-small {
	font-size: 0.8em;
}
.text-xsmall {
	font-size: 0.6em;
}
.text-large {
	font-size: 1.2em;
}
.text-xlarge {
	font-size: 1.4em;
}
.text-underline {
	text-decoration:underline;
}
.text-ultralight {
	font-weight: 200;
}
.text-light {
	font-weight: 300;
}
.text-regular {
	font-weight: normal;
}
.text-medium {
	font-weight: 500;
}
.text-bold {
	font-weight: bold;
}
blockquote {
	font-weight: 500;
	padding: 10px;
	border: 1px dashed #666666;
}

.mainbox {
	width: 100%;
	background-color: #EFEFEF;
	display: table;
	margin-bottom: 30px;
	border-right: 8px solid #FFFF33;
}

.mainboxnegativ {
	width: 100%;
	background-color: #000000;
	display: table;
	margin-bottom: 30px;
	border-right: 8px solid #FFFF33;
	color: #F9F9F9;
}

.mainbox2 {
	font-size: 1em;
	width: 90%;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.mainbox2negativ {
	font-size: 1em;
	color: #F9F9F9;
	background-color: #000000;
	padding-right: 20px;
}

.farsiparagraph {
	font-size: 1em;
	width: 47%;
	float:right;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;

}
.englishparagraph {
	font-size: 1em;
	width: 47%;
	float: left;
	direction:ltr;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;


}
.rightbox {
	width: 60%;
	padding-right: 20px;
	padding-left: 5px;
	float: right;
	margin-left: 10px;
	margin-bottom: 0px;
	min-width: 0px;
	background-color: #F7F7F7;

}

.titelbox {
	width: 60%;
	padding-right: 25px;
	padding-left: 0px;
	float: right;
	margin-left: 10px;
	margin-bottom: 0px;
	min-width: 0px;
	background-color: #F2F2F2;
	color: #4B4B4B;
}


.lefttbox {

	padding-right: 20px;
	padding-left: 4px;
	float: right;
	margin-bottom: 10px;
	min-width: 0px;
}

.alphabet {
	width: 35%;
	float: left;
	font-size: 21em;
	text-align: center;
	font-weight: 500;
	color: #999999;
}

.alphabet2 {
	width: 35%;
	float: left;
	direction: ltr;
	font-size: 1.6em;
	text-align: left;
	font-weight: 500;
	color: #333333;
	margin-top: 100px;
}
.footer {
	font-weight: 300;
	font-size: 0.7em;
	text-align: center;
	direction: ltr;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.rtl {

direction: rtl !important;

}

.bg-main {

	background-color: #e53935;

}

.bg-sec {

	background-color: #ab000d;

}

.bg-thi {

	background-color: #ff6f60;

}

.nav-item {

transition: 0.3s;

}


.nav-item:hover {

	transition: 0.3s;
	border: 1px;
  border-radius: 60px;
	background-color: #ab000d;

}

.nav-item:active {

	background-color: #ff6f60;

}

.nav-item:focus {

	background-color: #ff6f60;

}


.search-box
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
    background-color: white;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover > .search-txt
{
	color:black;
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn
{
   background: black;
	 color:white;
}
.search-btn
{
	    margin: -10px;
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt
{
	 padding-right: 15px !important;
		direction: rtl;
	  margin: -8px;
    border: none;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
		font-size: small;
}

.search-btn {

color:black;

}

.left-card-pic {

	background-image: url("https://www.autostraddle.com/wp-content/uploads/2017/10/rr.png");
	background-position: center;
background-repeat: no-repeat;
background-size: cover;
	height: 230px;
	width: 180px;
	margin-top: -220px;
	margin-right: 300px !important;
	box-shadow: -5px 5px 10px;
	position: absolute;

}

.right-card-pic {
	padding-top: 1px;
	background-color: #ac2926;
	margin-top: 70px;
	box-shadow:2px 0px 10px black;
	height: 200px;
	border-radius: 0px 10px 10px 0px;
	width: 400px;

}

.c-swiper--products .c-product-box__title {
    text-align: center;
    margin-top: 14px;
    overflow: hidden;
    max-width: 90%;
    min-height: 50px;
    font-size: 12px;
    font-size: .857rem;
    line-height: 25px;
}

.c-product-box__title {
	padding-left: 130px;
    display: block;
    overflow: hidden;
    font-size: 12px;
    font-size: .857rem;
    line-height: 30px;
    line-height: 22px;
    margin-top: 13px;
    height: 43px;
}


#first-banner {

color:white;
background-image:
linear-gradient(to bottom, #0000001f, #ac2926b5 ),
url('https://images.wallpaperscraft.com/image/book_coffee_bed_shadow_117507_168x300.jpg');
padding-top: 100px;
width: 100%;
min-height: 100%;
background-size: cover;
background-repeat:no-repeat;
background-position:center;
}

#second-banner {

color:white;
background-image:
linear-gradient(to bottom, #0000001f,#ac2926b5 ),
url('https://images.wallpaperscraft.com/image/book_text_motivation_coffee_hand_119514_168x300.jpg');
padding-top: 100px;
width: 100%;
min-height: 100%;
background-size: cover;
background-repeat:no-repeat;
background-position:center;
}

.owl-prev {
	background-color: #ab000d !important;
	height: 50px !important;
	width: 30px !important;
	color:white  !important;
	  border-radius: 5px 0px 0px 5px;
	margin-right: -8px;
    width: 15px;
    height: 100px;
    position: absolute;
    top: 20%;
    margin-left: -20px;
    display: block !important;
    border:0px solid black;
}

.owl-next {
	background-color: #ab000d !important;
	height: 50px !important;
	width: 30px !important;
	color:white  !important;
		border-radius: 0px 5px 5px 0px;
	    margin-right: 938px;
    width: 15px;
    height: 100px;
    position: absolute;
    top: 20%;
    right: -25px;
    display: block !important;
    border:0px solid black;
}
.owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}

.product-pic {

width:auto !important;
text-align: center !important;
margin: auto;

}


.c-swiper--products .c-product-box__title {
    text-align: center;
    margin-top: 14px;
    overflow: hidden;
    max-width: 90%;
    min-height: 50px;
    font-size:small ;
    font-size:small ;
    line-height: 25px;
}

.c-product-box__title {
	padding: 0px;
    display: block;
    overflow: hidden;
    font-size:small ;
    font-size: small;
    line-height: 30px;
    line-height: 22px;
    margin-top: 13px;
    height: 43px;
		color:black;
}

.c-swiper--products .c-product-box .c-price {
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 90%;
}

.c-price {
	padding-top: 10px;
    display: block;
    align-items: center;
}

.c-swiper--products .c-product-box .c-price__value del {
    font-size: 16px;
    font-size: 1.143rem;
    line-height: 22px;
    letter-spacing: 0;
}

.c-price__value del {
    font-size: 13px;
    font-size: .929rem;
    line-height: 22px;
    display: block;
    letter-spacing: .5px;
    color: #acacac;
    text-decoration: line-through;
}

.small-banner-top {

padding: 30px;

}


.li-timer {
  display: inline-block;
  font-size: 0.8em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.li-timer span {
	padding-top: 18px;
  display: block;
  font-size: 1.5em;
}

.carousel-shadow {

    box-shadow: 0px -12px 26px black;

}

.countdown-bg {

	background-image:
	linear-gradient(to bottom, #ab000d94,#000000 ),
	url('https://cdn2.vectorstock.com/i/1000x1000/06/86/percent-pie-chart-pattern-seamless-vector-23230686.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	background-position:center;

}

.new-bg {

	background-image:
	linear-gradient(to bottom, #ab000d94,#000000),
	url('https://ih0.redbubble.net/image.741198650.5191/flat,550x550,075,f.u1.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	background-position:center;

}

.product-hover {
transition: 0.3s;

}


.product-hover:hover {
		box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    transform: translateY(-2px);
		transition: 0.3s;

}


.c-product-box__discount-badge {
	padding: 5px;
    color: #fff;
    font-size: 15px;
    border-radius: 60px;
    position: absolute;
    top: 12px;
    left: 30px;
    background-color: #e53935;
    z-index: 2;
}

.c-product-box__new-badge {
	padding: 5px;
    color: black;
    font-size: 12px;
    border-radius: 60px;
    position: absolute;
    top: 12px;
    left: 30px;
    background-color: #ffe000;
    z-index: 2;
}

.long-banner {

	background:rgba(0,0,0,0.6) !important;
	opacity: 0.2 !important;
	width: 100%;
	height: 244px;

}


.out-of-stock {

opacity: 0.3 !important;

}

.text-on-image {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quick-menu {

transition: .3s;
	box-shadow: 0px 1px 20px black;

}

.quick-menu:hover {

transition: .3s;
	box-shadow: 0px 1px 20px red;

}

.c-footer__feature-innerbox, .c-footer__middlebar {
    display: inline-flex;
    width: 100%;
    align-items: center;
}

.c-footer__feature-innerbox {
    margin: 0 auto;
    justify-content: space-around;
}

.c-footer__badge {
    display: inline-block;
    width: 16.3%;
}

.c-footer__social--instagram {
    width: 159px;
    height: 45px;
    text-align: center;
    border-radius: 9px;
    background-image: linear-gradient(266deg,#4e60d3,#913baf 35%,#d52d88 68%,#f26d4f);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.11);
    color: #fff;
    font-weight: 700;
    display: inline-block;
    font-size: 12px;
    font-size: .857rem;
    line-height: 45px;
}


.dropdown-menu {
    left: -100px !important;
		background-image: linear-gradient(to top, #ab000d, #83011b, #590b1c, #300e16, #000000);
		transition: .3s;
		font-size: inherit;
}

.dropdown-item {


transition: .3s;

}

.dropdown-item:hover {

  border-radius: 60px;
	transition: .3s;
	background-color: #e53935;

}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.flex-on-hover {

    display: -webkit-inline-box;

}



.shopping-cart-container {
	top: 6%;
	left: 40px;
  margin: 20px 0;
  float: left;
  background: white;
  width: 300px;
  position: absolute;
  border-radius:  0px 0px 3px 3px;
  padding-top: 1px;
	padding-bottom: 1px;
	z-index: 1;
}

.shopping-cart-container:after {
	float: left;
	bottom: 100%;
	right: 30%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: white;
	border-width: 8px;
	margin-left: -8px;
}

#carter {

display: none;

}

.badge-danger {

background-color: #ab000d;
margin-left: -3px;
font-size: x-small;

}


.hover-cart-text {

	text-align: right;
	font-size: 12px;
	padding-top: 4px;

}


.c-navi-list__basket-total {

    line-height: 20px;
    color: #fb3449;
    direction: rtl;
    text-align: right;
}


.c-navi-list__basket-link {

    line-height: 19px;
    color: #454545;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    transition: background-color .3s ease-in-out;
}

.product-cart-pop {

transition: .3s;

}

.footer-text {

    background-image: linear-gradient(to bottom, #d52a2cd1,#000000 ),
		 url('https://ih0.redbubble.net/image.741198650.5191/flat,550x550,075,f.u1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
		font-size: smaller;

}

.navbar {

	background-image: linear-gradient(to bottom, #d52a2cd1,#000000 ),
	 url('https://ih0.redbubble.net/image.741198650.5191/flat,550x550,075,f.u1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

.footer-title {

font-size: medium ;

}

.below-footer {

    font-size: unset;

}



.button-container {
	margin: -45px;
  text-align: center;
}

fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none;
}

.form-radio,
.form-group {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.form-inline > .form-group,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}

.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem;
}
.checkbox .form-help, .form-radio .form-help, .form-group .form-help {
  position: absolute;
  width: 100%;
}
.checkbox .form-help {
  position: relative;
  margin-bottom: 1rem;
}
.form-radio .form-help {
  padding-top: 0.25rem;
  margin-top: -1rem;
}

.form-group input {
  height: 1.9rem;
}
.form-group textarea {
  resize: none;
}
.form-group select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none;
}
.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}
.form-group .bar::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #ab000d;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}
.form-group input[type="file"] {
  line-height: 1;
}
.form-group input[type="file"] ~ .bar {
  display: none;
}
.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #333;
}
.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label,
.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label,
.form-group textarea.form-file ~ .control-label,
.form-group textarea.has-value ~ .control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0;
}
.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}
.form-group select:focus ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group textarea:focus ~ .control-label {
  color: #ab000d;
}
.form-group select:focus ~ .bar::before,
.form-group input:focus ~ .bar::before,
.form-group textarea:focus ~ .bar::before {
  width: 100%;
  left: 0;
}

.checkbox label,
.form-radio label {
	padding-right: 25px;
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: right;
  color: #333;
  display: block;
}
.checkbox input,
.form-radio input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
}

.radio {
  margin-bottom: 1rem;
}
.radio .helper {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #999;
}
.radio .helper::before, .radio .helper::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  border-radius: 50%;
  border: 0.125rem solid currentColor;
}
.radio .helper::after {
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #ab000d;
  border-color: #ab000d;
}
.radio label:hover .helper {

  color: #ab000d;
}
.radio input:checked ~ .helper::after {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.radio input:checked ~ .helper::before {
  color: #ab000d;
}

.checkbox {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.checkbox .helper {
  color: #999;
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  z-index: 0;
  border: 0.125rem solid currentColor;
  border-radius: 0.0625rem;
  -webkit-transition: border-color 0.28s ease;
  transition: border-color 0.28s ease;
}
.checkbox .helper::before, .checkbox .helper::after {
  position: absolute;
  height: 0;
  width: 0.2rem;
  background-color: #ab000d;
  display: block;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  border-radius: 0.25rem;
  content: '';
  -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
  transition: opacity 0.28s ease, height 0s linear 0.28s;
  opacity: 0;
}
.checkbox .helper::before {
  top: 0.65rem;
  right: 0.38rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  box-shadow: 0 0 0 0.0625rem #fff;
}
.checkbox .helper::after {
  top: 0.3rem;
  right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.checkbox label:hover .helper {

  color: #ab000d;
}
.checkbox input:checked ~ .helper {
  color: #ab000d;
}
.checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
  opacity: 1;
  -webkit-transition: height 0.28s ease;
  transition: height 0.28s ease;
}
.checkbox input:checked ~ .helper::after {
  height: 0.5rem;
}
.checkbox input:checked ~ .helper::before {
  height: 1.2rem;
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 1rem;
}

.has-error .legend.legend, .has-error.form-group .control-label.control-label {
  color: #d9534f;
}
.has-error.form-group .form-help,
.has-error.form-group .helper, .has-error.checkbox .form-help,
.has-error.checkbox .helper, .has-error.radio .form-help,
.has-error.radio .helper, .has-error.form-radio .form-help,
.has-error.form-radio .helper {
  color: #d9534f;
}
.has-error .bar::before {
  background: #d9534f;
  left: 0;
  width: 100%;
}

.button {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 1.1rem;
  color: black;
  margin: 3rem 0;
  padding: 0.75rem 3rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.button span {
  color: #fff;
  position: relative;
  z-index: 1;
}
.button::before {
  content: '';
  position: absolute;
  background: #071017;
  border: 50vh solid #1d4567;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 0;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.button:hover {
  color: #ab000d;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.button:active::before, .button:focus::before {
  -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}
.button:focus {
  outline: none;
}

.vl {
  border-left: 1px solid red;
  height: auto;
  position: relative;
}

.dropdown-item {

	width: min-content;
	margin-left: auto;
	margin-right: auto;

}


.dropdown-menu {

min-width: 200px;

}

.navbar-toggler {

    background-color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}


.button-container {
	margin: -45px;
  text-align: center;
}

fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none;
}

.form-radio,
.form-group {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.form-inline > .form-group,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}

.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem;
}
.checkbox .form-help, .form-radio .form-help, .form-group .form-help {
  position: absolute;
  width: 100%;
}
.checkbox .form-help {
  position: relative;
  margin-bottom: 1rem;
}
.form-radio .form-help {
  padding-top: 0.25rem;
  margin-top: -1rem;
}

.form-group input {
	direction: rtl;
	    text-align: right;
  height: 1.9rem;
}
.form-group textarea {
	direction: rtl;
			text-align: right;
  resize: none;
}
.form-group select {
	direction: rtl;
			text-align: right;
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none;
}
.form-group .control-label {
	text-align: right;
	text-align: right;
float: right;
right: 0;
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}
.form-group .bar::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #ab000d;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}
.form-group input[type="file"] {
  line-height: 1;
}
.form-group input[type="file"] ~ .bar {
  display: none;
}
.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #333;
}
.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label,
.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label,
.form-group textarea.form-file ~ .control-label,
.form-group textarea.has-value ~ .control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0;
}
.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}
.form-group select:focus ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group textarea:focus ~ .control-label {
  color: #ab000d;
}
.form-group select:focus ~ .bar::before,
.form-group input:focus ~ .bar::before,
.form-group textarea:focus ~ .bar::before {
  width: 100%;
  left: 0;
}

.checkbox label,
.form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: right;
  color: #333;
  display: block;
}
.checkbox input,
.form-radio input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
}

.radio {
  margin-bottom: 1rem;
}
.radio .helper {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #999;
}
.radio .helper::before, .radio .helper::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  border-radius: 50%;
  border: 0.125rem solid currentColor;
}
.radio .helper::after {
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #ab000d;
  border-color: #ab000d;
}
.radio label:hover .helper {
  color: #ab000d;
}
.radio input:checked ~ .helper::after {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.radio input:checked ~ .helper::before {
  color: #ab000d;
}

.checkbox {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.checkbox .helper {
  color: #999;
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  z-index: 0;
  border: 0.125rem solid currentColor;
  border-radius: 0.0625rem;
  -webkit-transition: border-color 0.28s ease;
  transition: border-color 0.28s ease;
}
.checkbox .helper::before, .checkbox .helper::after {
  position: absolute;
  height: 0;
  width: 0.2rem;
  background-color: #ab000d;
  display: block;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  border-radius: 0.25rem;
  content: '';
  -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
  transition: opacity 0.28s ease, height 0s linear 0.28s;
  opacity: 0;
}
.checkbox .helper::before {
  top: 0.65rem;
  left: 0.38rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  box-shadow: 0 0 0 0.0625rem #fff;
}
.checkbox .helper::after {
  top: 0.3rem;
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.checkbox label:hover .helper {
  color: #ab000d;
}
.checkbox input:checked ~ .helper {
  color: #ab000d;
}
.checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
  opacity: 1;
  -webkit-transition: height 0.28s ease;
  transition: height 0.28s ease;
}
.checkbox input:checked ~ .helper::after {
  height: 0.5rem;
}
.checkbox input:checked ~ .helper::before {
  height: 1.2rem;
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 1rem;
}

.has-error .legend.legend, .has-error.form-group .control-label.control-label {
  color: #d9534f;
}
.has-error.form-group .form-help,
.has-error.form-group .helper, .has-error.checkbox .form-help,
.has-error.checkbox .helper, .has-error.radio .form-help,
.has-error.radio .helper, .has-error.form-radio .form-help,
.has-error.form-radio .helper {
  color: #d9534f;
}
.has-error .bar::before {
  background: #d9534f;
  left: 0;
  width: 100%;
}

.button {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 1.1rem;
  color: black;
  margin: 3rem 0;
  padding: 0.75rem 3rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.button span {
  color: #fff;
  position: relative;
  z-index: 1;
}
.button::before {
  content: '';
  position: absolute;
  background: #071017;
  border: 50vh solid #1d4567;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 0;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.button:hover {
  color: #ab000d;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.button:active::before, .button:focus::before {
  -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}
.button:focus {
  outline: none;
}

.modal-header {

	background-image:
	linear-gradient(to bottom, #ab000d94,#000000),
	url('https://ih0.redbubble.net/image.741198650.5191/flat,550x550,075,f.u1.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	background-position:center;

}

.close {

color:white;

}

.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;

  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }

  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
}












































































/* responsive */

@media (max-width: 576px) {

.navbar-nav {

margin-right: auto !important;

	}

	.hide-mobile {

display: none;

	}

.small-text-responsive {

font-size: 10px;

}

.offer-timer-heading {

	font-size: xx-small !important;

}

.offer-timer {

	font-size: xx-small !important;


}



 }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {



	.hide-between {

display: none;

	}

.owl-item {

	width: min-content !important;

}

 }

 @media (min-width: 768px) {

 	.hide-desktop-for-real {

 display: none;

 	}

  }

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

	.dropdown-menu {

		text-align: center;

	}

	.c-product-box__discount-badge {

	    top: 1%;
	    left: 1%;

	}

	.c-product-box__new-badge {

		top: 1%;
		left: 1%;

	}



	.owl-nav {

display: none !important;

	}

	.offer-timer-heading {

    font-size: small;

	}

	.offer-timer {

font-size: small;

	}

	.center-responsive {

	    text-align: center;

	}

	.hide-responsive {

display: none;

	}

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

.owl-next {

    margin-right: 1118px !important;

}

 }


@media (min-width: 992px) {
	.hide-desktop {

		display: none;

	}
}
